<h1>Please enter a username and select a shape and color</h1>

<mat-form-field>
  <input matInput placeholder="Username" type="text" [formControl]="username" />
</mat-form-field>

<div class="selection-grid">
  <div
    (click)="selectShape(shape)"
    [class.selected]="selectedShape === shape"
    [class]="shape"
    *ngFor="let shape of shapeList"
  ></div>
</div>

<div class="selection-grid">
  <div
    (click)="selectColor(color)"
    class="swatch"
    [class.selected]="selectedColor === color"
    [ngClass]="color"
    *ngFor="let color of colorList"
  ></div>
</div>

<button
  [disabled]="!username.valid || !selectedColor || !selectedShape"
  color="primary"
  routerLink="/game"
  mat-raised-button
  (click)="saveUser()"
>
  Next
</button>
